
.emailList {
  color: white;
  font-weight: bold;
}

.emailPreview :hover {
  background-color: #ed3ab4;
  cursor: pointer;
}

.emailPreview {
  background-color: #720e9d;
  font-size: large;
  margin: 2vh;
}

#read {
  background-color: #737373;
}

#selected {
  background-color: #E118A2;
}

.details {
  font-size: medium;
  font-weight: normal;
  color: #f7f7f7;
  margin: 0px;
}

.emailContainer {
  width: 100vh;
  height: 70vh;
  padding: 2vh;
  outline: auto;
  outline-color: #474747;
  background-color: #E118A2;
}

