
.emailList {
  color: black;
  font-weight: bold;
}

.emailPreview :hover {
  background-color: #ece3fb;
  cursor: pointer;
}

.emailPreview {
  background-color: #ffe1f0;
  font-size: large;
  margin: 1vh;
}

#read {
  background-color: #e6e6e6;
}

#selected {
  background-color: #ffb5da;
}

.details {
  font-size: medium;
  font-weight: normal;
  color: #474747;
  margin: 0px;
}
