/* I only used one css file for all my components to keep importing simple,
   as well as to keep the number of files down, as one for each component
   seems a bit overkill when theres only one or two rules in each */
.emailList {
  color: white;
  font-weight: bold;
}

.emailPreview :hover {
  background-color: #ed3ab4;
  cursor: pointer;
}

.emailPreview {
  background-color: #720e9d;
  font-size: large;
  margin: 2vh;
}

#readEmail {
  background-color: #737373;
}

#selectedEmail {
  background-color: #E118A2;
}

.emailDetails {
  font-size: medium;
  font-weight: normal;
  color: #f3f3f3;
  margin: 0px;
}

.emailContainer {
  width: 100vh;
  height: 70vh;
  padding: 2vh;
  outline: auto;
  background-color: #E118A2;
}

.button {
  width: 5vh;
  height: 5vh;
}