.App {
  text-align: center;
  display: flex;
  height: 100%;
}

.leftList {
  background-color: #797979;
  margin: 1vh;
  height: 98vh; /* 98 so that the 1vh margins dont make it scroll */
  width: 60vh;
  overflow-y: scroll;
}

.rightList {
  display: flex;
  background-color: white;
  height: 98vh; /* 98 so that the 1vh margins dont make it scroll */
  width: 100%;
  margin: 1vh;
  align-items: center;
  justify-content: center;
}

